@{
    Layout = "_Layout";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Dashboard Page</title>
</head>
<body>
    <h2>User Page</h2>
    <ul>
        <li>user logged in successfully</li>
        <li>access pizzas</li>
        <li>access cart</li>
    </ul>
</body>
</html>
