@model PizzaStore.Models.User
@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>

        .heading {
            background-color: darkgray;
            color: white;
            border: 7px white;
            padding: 15px;
            text-align: center;
            border-radius: 2px;
            margin-bottom: 20px;
        }
        </style>
</head>
<body>
    <div class="container col-lg-4">
        <h2 class="heading">Login</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" id="loginbtn" value="Login" class="btn btn-warning" />
            </div>
        </form>
    </div>
    
</body>
</html>